<h1 class="title">Welcome to Tutor Khmer Service</h1>
<h2 class="subtitle">First and fast khmer tutorial service</h2>

<div class="card">
    <div class="card-content">
        <div class="content">
            <h1>Khmer Language</h1>
            <h3>Teacher: Vannaravuth Yo</h3>

            <p>You will spends 3 weeks to finish this courses:</p>
            <ol>
                <li><strong>Writing:</strong>How to write the best paragraphs.</li>
                <li><strong>Reading:</strong> After write those paragraph. How to read and pronunication.</li>
                <li><strong>Speaking:</strong> Write and Read well, Now let's start to make a conversation</li>
            </ol>

            <blockquote>
                By study this course you will...
            </blockquote>
        </div>

        <div>
            <span class="tag is-primary">Vannaravuth Yo</span>
            <span class="tag is-info">Khmer Language</span>
            <span class="tag is-warning">Phnom Penh</span>
            <span class="tag is-dark">Moday to Friday</span>
            <span class="tag is-danger">Saturday to Sunday</span>
            <span class="tag is-success">Every Weekdays</span>
            <span class="tag is-default">Each Weekend</span>
        </div>
    </div>
</div>

<div class="my-comment-container card card-content">
    <div class="box">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="http://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Barbara Middleton</strong>
                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                        <br>
                        <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
                    </p>
                </div>

                <app-comment></app-comment>

            

                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="http://bulma.io/images/placeholders/96x96.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Kayli Eunice </strong>
                                <br> Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                                cubilia Curae; Phasellus lacinia non nisl id feugiat.
                                <br>
                                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </article>
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="http://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" placeholder="Add a comment..."></textarea>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button">Post comment</button>
                    </p>
                </div>
            </div>
        </article>
    </div>
   
</div>
