<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item" routerLink="/">
                <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
            </a>
            <a class="nav-item is-tab is-hidden-mobile" routerLink="/schedules" routerLinkActive="is-active">Schedules</a>
            <a class="nav-item is-tab is-hidden-mobile" routerLink="/teaching-plan" routerLinkActive="is-active">Teaching Plan</a>
            <a class="nav-item is-tab is-hidden-mobile" routerLink="/about" routerLinkActive="is-active">About</a>
        </div>
        <div class="nav-center">
            <a class="nav-item">
                <span class="icon">
        <i class="fa fa-github"></i>
      </span>
            </a>
            <a class="nav-item">
                <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
            </a>
        </div>
        <span class="nav-toggle">
                <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-hidden-tablet" routerLink="/" routerLinkActive="is-active">Home</a>
            <a class="nav-item is-tab is-hidden-tablet" routerLink="/schedules" routerLinkActive="is-active">Schedules</a>
            <a class="nav-item is-tab is-hidden-tablet" routerLink="/teaching-plan" routerLinkActive="is-active">Teaching Plan</a>
            <a class="nav-item is-tab is-hidden-tablet" routerLink="/about" routerLinkActive="is-active">About</a>
            <div *ngIf="auth.isLoggedIn; then authorized else unauthorize"></div>
            <ng-template #authorized>
                <a class="nav-item is-tab">
                    <figure class="image is-16x16" style="margin-right: 8px;">
                        <img src="http://bulma.io/images/jgthms.png">
                    </figure>
                    Profile
                </a>
                <a (click)="logout()" class="nav-item is-tab">Logout</a>
            </ng-template>
            <ng-template #unauthorize>
                <a routerLink="/login" class="nav-item is-tab">Login</a>
            </ng-template>
        </div>
    </div>
</nav>
