<nav class="nav has-shadow">
    <div class="container">
        <div class="nav-left">
            <a class="nav-item">
                <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
            </a>
            <a href="/tutor-service/schedules.html" class="nav-item is-tab is-hidden-mobile">Schedules</a>
            <a href="/tutor-service/teaching-plan.html" class="nav-item is-tab is-hidden-mobile">Teaching Plan</a>
            <a href="/tutor-service/about.html" class="nav-item is-tab is-hidden-mobile">About</a>
        </div>
        <div class="nav-center">
            <a class="nav-item">
                <span class="icon">
        <i class="fa fa-github"></i>
      </span>
            </a>
            <a class="nav-item">
                <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
            </a>
        </div>
        <span class="nav-toggle">
                <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
            <a class="nav-item is-tab is-hidden-tablet">Schedules</a>
            <a class="nav-item is-tab is-hidden-tablet">Teaching Plan</a>
            <a class="nav-item is-tab is-hidden-tablet">About</a>
            <a class="nav-item is-tab">
                <figure class="image is-16x16" style="margin-right: 8px;">
                    <img src="http://bulma.io/images/jgthms.png">
                </figure>
                Profile
            </a>
            <a class="nav-item is-tab">Log out</a>
        </div>
    </div>
</nav>
