<div class="notification is-dark">
    <button class="delete"></button> Nortification with fullwidth of content and button close
</div>

<h1 class="title">Welcome to Tutor Khmer Service</h1>
<h2 class="subtitle">First and fast khmer tutorial service</h2>

<div class="my-comment-container card card-content content">
    <h1>
        About Us
    </h1>
    <p>
        <strong class="is-block">Point of Contact</strong>
        <span class="icon is-small"><i class="fa fa-envelope"></i></span> John Doe
        <br>
        <span class="icon is-small"><i class="fa fa-phone"></i></span> (555) 555-5555
        <br>
        <span class="icon is-small"><i class="fa fa-fax"></i></span> (555) 555-5556
    </p>
</div>
