<nav class="panel">
    <p class="panel-heading">
        Subjects
    </p>
    <div class="panel-block">
        <p class="control has-icon">
            <input class="input is-small" type="text" placeholder="Search">
            <span class="icon is-small">
        <i class="fa fa-search"></i>
      </span>
        </p>
    </div>
    <p class="panel-tabs">
        <a class="is-active">All</a>
        <a>Public</a>
        <a>Private</a>
        <a>Sources</a>
        <a>Forks</a>
    </p>
    <a class="panel-block is-active">
        <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span> khmer language
    </a>
    <a class="panel-block">
        <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span> enlish language
    </a>
    <a class="panel-block">
        <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span> chinese language
    </a>
    <a class="panel-block">
        <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span> korea language
    </a>
    <a class="panel-block">
        <span class="panel-icon">
      <i class="fa fa-code-fork"></i>
    </span> mathermatic
    </a>
    <a class="panel-block">
        <span class="panel-icon">
      <i class="fa fa-code-fork"></i>
    </span> phylosofy
    </a>
    <label class="panel-block">
    <input type="checkbox">
    Remember me
  </label>
    <div class="panel-block">
        <button class="button is-primary is-outlined is-fullwidth">
      Reset all filters
    </button>
    </div>
</nav>
