<article class="media">
    <figure class="media-left">
        <p class="image is-48x48">
            <img src="http://bulma.io/images/placeholders/96x96.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{ author }}</strong>
                <br> {{ comment }}
                <br>
                <small>
                    <a>Like</a> · <a>Reply</a> · {{ likeDate }}
                </small>
            </p>
        </div>
    </div>
</article>
